{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/game.js' %}" defer></script>
{% endblock %}

{% block content %}
    <h4>Game</h4>
    <div id="points">
        <h4 id="points_header"></h4>
        <button>Back</button>
    </div>
    <div id="game">

    </div>
    <input id="gameRoom" type="hidden" value="{{ game_room }}">
    {#    {{ game_room|json_script:"gameRoom" }}#}
{% endblock %}