{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/game.js' %}" defer></script>
{% endblock %}

{% block content %}
    <h4 class="mt-2">Game</h4>
    <div class="row">
        <div id="game" style="width: 620px;"></div>
    </div>
    <input id="gameRoom" type="hidden" value="{{ game_room }}">
    {#    {{ game_room|json_script:"gameRoom" }}#}
{% endblock %}