{% extends 'base.html' %}

{% block content %}
    <h2>Game</h2>
    <form method="GET">
        <input type="hidden" name="game" value="start">
        <button type="submit" id="btn">Start game!</button>
    </form>

    <div>
        <ul>
            <p>
                <a href="{% url 'game:dashboard' %}">Standings</a>
                <a href="{% url 'game:dashboard' %}?search=player-games">Your games</a>
                <a href="{% url 'game:dashboard' %}?search=games">All games</a>
            </p>
        </ul>
    </div>

    {% if type == 'games' %}
        <div id="games">
            <h3>Games</h3>
            <table>
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Points</th>
                    <th>Started At</th>
                    <th>Ended At</th>
                </tr>
                </thead>
                <tbody>
                {% for game in data %}
                    <tr>
                        <td>{{ game.player.username }}</td>
                        <td>{{ game.points }}</td>
                        <td>{{ game.started_at | date:"H:i:s d.m.Y" }}</td>
                        <td>{{ game.ended_at | date:"H:i:s d.m.Y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% elif type == 'player-games' %}
        <div id="player-games">
            <h3>Your games - {{ user.username }}</h3>
            <table>
                <thead>
                <tr>
                    <th>Points</th>
                    <th>Started At</th>
                    <th>Ended At</th>
                </tr>
                </thead>
                <tbody>
                {% for game in data %}
                    <tr>
                        <td>{{ game.points }}</td>
                        <td>{{ game.started_at | date:"H:i:s d.m.Y" }}</td>
                        <td>{{ game.ended_at | date:"H:i:s d.m.Y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div id="standings">
            <h3>Standings</h3>
        <table>
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Points</th>
                    <th> Average points per match</th>
                </tr>
                </thead>
                <tbody>
                {% for standings in data %}
                    <tr>
                        <td>{{ standings.player.username }}</td>
                        <td>{{ standings.points }}</td>
                        <td>{{ standings.points_per_match }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="pagination">
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ data.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">next</a>
            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}